@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* resets and default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

button{
    border: none;
    cursor: pointer;
}


:root{
    /* COLORS */
    --white-color : #EEEEEE;
    --black-color : #231B1B;

    --body-bg-color : var(--white-color);
    --header-bg-color : #231B1B;
    --footer-bg-color : #231B1B;
    --sidebar-bg-color : #B4B4B4;
    
    --todo-selections-bg-color-hover : #CCCCCC;
    --todo-selections-bg-color-active : #CCCCCC;

    --header-text-color : var(--white-color);
    --footer-font-color : var(--white-color);

    /* FONTS */
    --logo-font : "Jockey One", sans-serif;
    --footer-font : "Special Gothic Condensed One", sans-serif;
    --general-font : "Roboto", sans-serif;
}

/* animations */
@keyframes showDeleteBtn {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}


@keyframes showForm {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes hideForm {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.showForm{
    animation: showForm ease-in-out 500ms forwards;
}

.hideForm{
    animation: hideForm ease-in-out 500ms forwards;
}

/* ------------- */

html{
    height: 100%;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-bg-color);
    display: flex;
    flex-direction: column;
    
}


/* STYLES */
header{
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header > .header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo > h1
{
    text-transform: uppercase;
    font-family: var(--logo-font);
    color: var(--header-text-color);
}


main{
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;
}

#sidebar{
    position: relative;
    padding: 35px 25px 75px 25px;
    background-color: var(--sidebar-bg-color);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todos-selections,
.projects-selections
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todos-selections > li.active{
    background-color: var(--todo-selections-bg-color-active);
}

.todos-selections > li,
.projects-selection-container> .projects-selections > li{
    display: flex;
    width: 100%;
    gap: 12px;
    cursor: pointer;
    padding: 10px 5px; 
    border-radius: 5px;
    align-items: center;
}

.todos-selections > li > p{
    font-family: var(--general-font);
    font-weight: 500;
    
}

.todos-selections > li:hover{
    background-color: var(--todo-selections-bg-color-hover);
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projects-selection-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.projects-selections > li > p{
    font-family: var(--general-font);
    font-weight: 400;
    margin-right: auto;
}

.projects-selections > li.active-project
{
    background-color: var(--todo-selections-bg-color-active);
}

#addProjectBtn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: var(--general-font);
    background-color: var(--black-color);
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.sidebar-title{
    font-family: var(--general-font);
}


.deleteProjectBtn{
    opacity: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.projects-selections > li:hover > .deleteProjectBtn{
    animation: showDeleteBtn ease-in-out 500ms forwards;
}


#content{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-title{
    font-size: 2rem;
    font-family: var(--general-font);
    position: relative;
    width: max-content;
}

.content-title::before
{
    content: "";
    position: absolute;
    height: 4px;
    background-color: black;
    bottom: -5px;
    border-radius: 10px;
    animation: barSlideIN 750ms ease-in-out forwards;
}

.todos-content-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todos-content-container > li{
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    min-height: 200px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 10px solid black;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 20px  0px rgba(0, 0, 0, 0.222);
    padding: 10px;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.todos-content-container > li > input{
    width: 30px;
    height: 30px;
    accent-color: var(--black-color);
}

.todos-content-container > li > .todo-information{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    width: 100%;
}

.todo-information > *{
    font-family: var(--general-font);

}

.todo-information > .todo-title{
    font-size: 1.35rem;
    text-wrap: wrap;
    padding: 10px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all; 
    max-width: 100%;
}

.todo-information > .todo-description{
    margin-bottom: auto;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2; /* Show only 3 lines */
    line-height: 1.5em;
    max-height: calc(1.5em * 3); /* line-height * number of lines */
}


.todo-control{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.todo-control > button{
    background-color: transparent;
    border: none;
}

.add-task-button
{
    background-color: white;
    height: 40px;
    width: 50%;
    box-shadow: 5px 5px 0px 0px black;
    border-radius: 10px;
    align-self: center;

}

.empty-message
{
    font-family: var(--general-font);
    font-size: 1.2rem;
    font-weight: bold;
}

.dates-container
{
    display: flex;
}

.form-error-message
{
    color: red;
    font-family: var(--general-font);
    font-style: italic;
    display: none;
}

/* form */
.add-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 500px;
    height: auto;
    border: 5px solid black;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.form-title
{
    padding: 10px;
    font-family: var(--general-font);
}

.add-form > .input-container,
.add-form > .form-buttons{
    width: 220px;
    height: 30px;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.input-container > input,
.input-container > select{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid black;
}

.input-container > label{
    font-weight: bold;
    font-family: var(--general-font);
}

.add-form > #priority{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#priority > button{
    width: 60px;
    height: 100%;
    font-family: var(--general-font);
    font-weight: 800;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.499);
    border-radius: 10px;
    color: black;
}

#highPriority
{
    background-color: red;
    color: white;
}

#mediumPriority
{
    background-color: yellow;
    color: white;
}

#lowPriority
{
    background-color: green;
    color: white;
}

.form-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-buttons > button{
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100%;
    font-family: var(--general-font);
    font-weight: bold;
    transition: ease-in-out 500ms;
}

.form-buttons > button:hover{
    background-color: rgb(76, 76, 76);
    color: white;
}


.project-description
{
    font-style: italic;
    font-size: 1.2rem;
}

.burger-menu
{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 60px;
}

.burger-menu > .line
{
    background-color: white;
    width: 100%;
    height: 3px;
    flex-shrink: 0;
    border-radius: 1rem;
}

#closeSidebar
{
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    font-family: var(--footer-font);
    color: var(--footer-font-color);
    background-color: var(--footer-bg-color);
}


/* MEDIA QUERIES */

/* 2xl */
@media (max-width: 1536px) 
{

}

/* xl */
@media (max-width: 1280px) 
{

}

/* lg */
@media (max-width: 1024px) 
{

}

@media (max-width: 880px) 
{
    #sidebar
    {
        position: fixed;
        height: 100%;
        z-index: 5;
        transform: translateX(-650px);
    }

    .burger-menu
    {
        display: flex;
    }

    #closeSidebar
    {
        display: flex;
    }

}

/* md */
@media (max-width: 768px) 
{

}

/* sm */
@media (max-width: 640px) 
{

}

/* xs */
@media (max-width: 545px) 
{
    #sidebar{
        width: 100%;
    }

    .add-form{
        width: 95%;
        
    }
}